@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  position: relative;
  background-image: radial-gradient(#ffcc00,#ff6666, #ffccff);
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  margin-top: 0;
  background: black;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.534);
  border-radius: 90px;
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
  
}
.menu-list li a{
  color: #f74e4e;
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;


}
.menu-list li a:hover{
  color: #000000;
  background-color: rgb(255, 255, 255);
  
}

.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.fas fa-bars {
  color: black;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }


  .navbar .menu-list{
    color: white;
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: rgb(0, 0, 0);
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
  
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.icon menu-btn:hover {
  background-color: #000000;
}
  
  
 .wrapper {
    margin-top: 75px;
 }
  
  .wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    margin: 5px;
    margin-top: 40px;
    width: 400px;
    padding: 20px;
    line-height: 35px;
    color: #8e8b8b;  
    position: relative;
  }
  
  
  .team .team_member h3{
    font-size: 26px;
    margin-top: 50px;
  }
  
  .team .team_member p.role{
    color: rgb(255, 255, 255);
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .team .team_member .team_img{
    position: absolute;
    top: -85px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
  }
  
  .team .team_member .team_img img{
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 70px;
  }
  
  .team .team_member p.des{
    color: rgb(255, 255, 255);
    margin: 12px 0;
    font-size: 15px;
  }
  