* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif; 
    background-color: #ffb129 ;
    }

.navbar {
    text-align: right;
    background-color: #df5934;
    position: fixed;
    padding: 4px;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.589);
  }

.navbar a {
    display: flex;
    float: right;
    display: block;
    color: #ffffff;
    background-color: #df5934;
    text-align: center;
    padding: 14px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
  }

  .navbar a:hover {
    color: #ffb129;
  }     
  
 .wrapper {
    margin-top: 75px;
 }
  
  .wrapper h1{
    font-family: 'Poppins', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    margin: 5px;
    margin-top: 40px;
    width: 400px;
    padding: 20px;
    line-height: 35px;
    color: #8e8b8b;  
    position: relative;
  }
  
  .team .team_member h3{
    font-size: 26px;
    margin-top: 50px;
  }
  
  .team .team_member p.role{
    color: rgb(255, 255, 255);
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .team .team_member .team_img{
    position: absolute;
    top: -85px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
  }
  
  .team .team_member .team_img img{
    width: 150px;
    height: 150px;
    padding: 5px;
  }
  
  .team .team_member p.des{
    color: rgb(255, 255, 255);
    margin: 12px 0;
    font-size: 15px;
  }
