html {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

*{  
  background-color: white;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}


html::-webkit-scrollbar{
  width:1.2rem;
}

html::-webkit-scrollbar-track{
  background:#333;
}

html::-webkit-scrollbar-thumb{
  background: blue;
}
*, *:before, *:after {
  box-sizing: inherit;
}



.navbar {
  text-align: right;
  overflow: hidden;
  background-color: #df5934;
  position: fixed;
  padding: 4px;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.589);
}

.navbar a {
  display: flex;
  float: right;
  display: block;
  color: #ffffff;
  background-color: #df5934;
  text-align: center;
  padding: 14px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  color: #ffb129;
}     



header {
    background-image: url(https://ph-live-01.slatic.net/p/7b8300236a38a5599ed355bb708110e6.jpg);
    padding: 35px;
    margin-top: 100px;
    font-size: 55px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;

}

.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
  height: 50%;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100px;
    height: auto;
    display: block;
  }
}

.card {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.541);
}

.card img{
    width: 200px;
    height: 200px;
}

.container {
  padding: 0 50px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
