@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}
::selection{
  background: #ffffff;
}

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}

.navbar{
  background: rgba(0, 0, 0, 0.685);
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 10px 0;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.534);
  
}

.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
  
}
.menu-list li a{
  color: #f74e4e;
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;


}
.menu-list li a:hover{
  color: #000000;
  background-color: rgb(255, 255, 255);
  
}

.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.fas fa-bars {
  color: black;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }

  .navbar .menu-list{
    color: white;
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: rgb(0, 0, 0);
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.icon menu-btn:hover {
  background-color: #000000;
}




/* landing pic */

.slider {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.slider figure div {
  float: left;
  width: 20%;
}

.slider figure img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  animation: animate 20s infinite;
}

@keyframes animate {
  0%{left:0;}
  10%{left:0;}
  12%{left:-100%;}
  22%{left:-100%;}
  24%{left:-200%;}
  34%{left:-200%;}
  36%{left:-300%;}
  46%{left:-300%;}
  48%{left:-400%;}
  58%{left:-400%;}
  60%{left:-300%;}
  70%{left:-300%;}
  72%{left:-200%;}
  82%{left:-200%;}
  84%{left:-100%;}
  94%{left:-100%;}
  96%{left:0;}

  
}